@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<section id="hero-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="block wow fadeInUp" data-wow-delay=".3s">
                    <section class="cd-intro">
                        <h1 class="wow fadeInUp animated cd-headline slide" data-wow-delay=".4s">
                            <span style="font-size:50px">GOOD JOB ADDING A TASK! YOU ARE ONE STEP CLOSER TO ACCOMPLISHING IT! </span><br />
                        </h1>
                    </section> 
                    <a class="btn-lines dark light wow fadeInUp animated btn btn-default btn-green hvr-bounce-to-right" data-wow-delay=".9s" asp-controller="Home" asp-action="ViewTasks">View Tasks</a>
                    <a class="btn-lines dark light wow fadeInUp animated btn btn-default btn-green hvr-bounce-to-right" data-wow-delay=".9s" asp-controller="Home" asp-action="NewTask">Add Another</a>
                </div>
            </div>
        </div>
    </div>
</section>