@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "New Task";
}

@model Mission6.Models.CoveyForm

<section id="hero-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="block wow fadeInUp" data-wow-delay=".3s">

                    <!-- Slider -->
                    <section class="cd-intro text-center">
                        <h1 class="wow fadeInUp animated cd-headline slide" data-wow-delay=".4s">Create a New Task</h1>
                        <form method="post">
                            <label style="color:black; width:200px" asp-for="Task">Task Description</label>
                            <input width="100px"/>
                            <br />
                            <label style="color: black; width: 200px " asp-for="DueDate">Due Date</label>
                            <input width="100px"/>
                            <br />
                            <label style="color: black; width: 200px " asp-for="Quadrant">Quadrant</label>
                            <select asp-for="Quadrant" style="width:200px">
                                <option value="">Select One</option>
                                <option value="Important & Urgent">Important & Urgent</option>
                                <option value="Not Important & Urgent">Not Important & Urgent</option>
                                <option value="Important & Not Urgent">Important & Not Urgent</option>
                                <option value="Not Important & Not Urgent">Not Important & Not Urgent</option>
                            </select>
                            <br />
                            <label style="color: black; width: 200px " asp-for="Completed">Completed</label>
                            <select asp-for="Completed" style="width:200px">
                                <option value=false>No</option>
                                <option value=true>Yes</option>
                            </select>
                            <br />
                            <label style="color: black; width: 200px " asp-for="Category">Category</label>
                            <select asp-for="Category" style="width:200px">
                                <option value="">Select One</option>
                                @foreach (Category c in ViewBag.Category)
                                {
                                    <option value="@c.CategoryID">@c.CategoryTitle</option>
                                }
                            </select>
                            <br />
                            <button type="submit" class="btn-lines dark light wow fadeInUp animated btn btn-default btn-green hvr-bounce-to-right" data-wow-delay=".9s">Add Task</button>
                        </form>
                    </section> <!-- cd-intro -->
                    <!-- /.slider -->
                </div>
            </div>
        </div>
    </div>
</section>